Source: se3-clamav
Section: misc
Priority: optional
Maintainer: Laurent COOPER <swirly@slis.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: se3-clamav
Architecture: all
Depends: se3,clamav,clamav-freshclam
Description: A clamav interface for se3
 This packages provides a clamav interface for se3. It permits
 to schedule complete scan of directories.
